<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot PDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-messages"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Escribe tu pregunta aquí...">
            <button id="send-btn">Enviar</button>
            <button id="auto-btn">Respuesta automatica</button>
        </div>
    </div>
    <a href="http://localhost:5000" class="button">Volver al Menú Principal</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>