<!DOCTYPE html>
<html>
<head>
    <title>Cai DX - Demos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app">
        <h2 class="nttdata">NTT Data</h2>
        <h2 class="caidx">Cai DX</h2>
        <h1>Selecciona una aplicación</h1>
        <div class="demos">
            <a href="/aeroconnect">
                <div class="container">
                    <img class="image aeroconnect">
                    <div class="overlay">
                        <div class="text">Aeroconnect</div>
                    </div>
                </div>
                <p>Aeroconnect</p>
            </a>
            <a href="/TelecomNetPlanes">
                <div class="container">
                    <img class="image telecomnet">
                    <div class="overlay">
                        <div class="text">TelecomNet Planes</div>
                    </div>
                </div>
                <p>TelecomNet Planes</p>
            </a>
            <a href="/TelecomNetAgendamiento">
                <div class="container">
                    <img class="image telecomnet2">
                    <div class="overlay">
                        <div class="text">TelecomNet Agendamiento</div>
                    </div>
                </div>
                <p>TelecomNet Agendamiento</p>
            </a>
            <a href="/TelecomNetTecnico">
                <div class="container">
                    <img class="image telecomnet3">
                    <div class="overlay">
                        <div class="text">TelecomNet Tecnico</div>
                    </div>
                </div>
                <p>TelecomNet Tecnico</p>
            </a>
            <a href="https://demosoporte.awsapps.com/auth/?client_id=564fda62f107a665&redirect_uri=https%3A%2F%2Fdemosoporte.my.connect.aws%2Fauth%2Fcode&state=HeOBqSnRylLkWXHY77j1dD4RIWQMalFq0A7ciAa9XbML-TMcqaxUHeIYeBUOAGgC4a_jsLWuc1hU15ij1BDzRA">
                <div class="container">
                    <img class="image voicechat">
                    <div class="overlay">
                        <div class="text">Asistente telecom - AWS CONNECT</div>
                    </div>
                </div>
                <p>Asistente telecom - AWS CONNECT</p>
            </a>
            <a href="https://democaidx.azurewebsites.net/">
                <div class="container">
                    <img class="image recommend_mobile">
                    <div class="overlay">
                        <div class="text">Recomendador de equipos mobiles - AZURE</div>
                    </div>
                </div>
                <p>Recomendador de equipos mobiles - AZURE</p>
            </a>
        </div>
    </div>
    
    <eva-chat instance-url="https://americas-channels-instance1.eva.bot" org-id="48249918-6f7e-4370-9a46-b2dc572db1a3" env-id="1d87da23-ec13-4701-a8a0-e5e24d156cba" bot-id="424dc612-43f8-45c3-8d67-01656814d31b" channel-id="52c4dce5-c0df-4049-aec8-e63332a5c6b4"></eva-chat>
    
    <script src="https://eva-americas-resources.eva.bot/eva-chat.js"></script>
</body>
</html>